<!doctype html>
<html>
<head>
	<title>Random Page for Eliot</title>
	<meta http-equiv="refresh" content="1">
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% for message in messages %}
			{{message}}
		{% endfor %}
	{% endwith %}
	<h3>Topics</h3>
	<ul>
	{% for topic in topics %}
		<li><a href="vote/{{topic.name}}">{{topic.name}}</a>{{ topic.votes|int }}</li>
	{% endfor %}
	</ul>
	<form action="add_topic/" method="post">
		<input type="text" name="topic" />
	</form>
</body>
</html>