<!doctype html>
<html>
<head>
	<title>Random Page for Eliot</title>
	<script>
window.onload = function() {
	try {
		var socket = new WebSocket('ws://'+ window.location.host + '/poll');
		socket.onmessage = function(msg) {
			data = JSON.parse(msg.data);
			for(var topic in data) {
				element = document.getElementById(data[topic]['_id']['$oid']);
				element.innerHTML = parseInt(data[topic]['votes']);
				console.log(element);
				element.onclick = function() {
					console.log(document.images['voter'].src = escape("vote/" + data[topic]['name']));
				};
			}
		}
	} catch(exception) {
		console.log(exception);
	}
};
	</script>
</head>
<body>
	<img name='voter' src="#" width=0 height=0>
	{% with messages = get_flashed_messages() %}
		{% for message in messages %}
			{{message}}
		{% endfor %}
	{% endwith %}
	<h3>Topics</h3>
	<ul>
	{% for topic in topics %}
		<li><a href="">{{topic.name}}</a> <span id="{{ topic['_id'] }}">{{ topic.votes|int }}</span></li>
	{% endfor %}
	</ul>
	<form action="add_topic/" method="post">
		<input type="text" name="topic" />
	</form>
</body>
</html>